body {
  overflow-y: hidden;
  margin: 0;
}

#root {
  width: 450px;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  overflow-y: hidden;
  background-color: #F2F0EF;
}

button:focus {box-shadow:none !important;}
select:focus{ outline: none}
